<div class="container" style="border-radius: .5rem; background-color: rgb(196, 198, 202); height: calc(97.5vh - 123px);">
  <h5 class="card-title" style="padding-top:10px;">Your current status</h5>
  <div class="card bg-dark text-white" style="margin-bottom: 100px; border-radius: .5rem; height: calc(88vh - 123px);">
    <div class="card-body" style="padding-bottom: 10px; border-radius: .5rem;">
      <!-- <h5 class="card-title">Your current status</h5> -->
      <div style="align-content: center">
        <div class="userInfo" id="chartContainer" style="height: 260px; width: 100%;"></div>
      </div>
      <div style="padding-top: 2%">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>Participated Match:</td>
              <td>5</td>
            </tr>
            <tr>
              <td>Overall Score:</td>
              <td>95</td>
            </tr>
            <tr>
              <td>Your Rank:</td>
              <td>31</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>