<!-- main app container -->
<div class="container-fluid" style="margin: 5px 5px 5px 5px; padding-right: 25px;">
<div class="row jumbotron jumbotron-fluid bg-dark" style="background-color: rgb(206, 203, 203); border-radius: .5rem;">
  <div class="col-lg-12 col-sm-12 text-center" style="border-radius: 1rem;color: rgb(183, 233, 103)">
    <div class="container">
      <h1 class="display-4">Game Prediction</h1>
      <p class="lead">Lets play with your luck...</p>
    </div>
  </div>
</div>
<div class="container">
  <div *ngIf="showAlert">
    <div class="alert" [ngClass]= "alert.type" role="alert">
        <h6 class="text-center alert-heading">{{alert.message}}</h6>
    </div>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
      
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <h2>Login</h2>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">Login</button>
                    <div class="div-right">
                      <a [routerLink]="['/wcpredict/register']" class="btn btn-link">Register</a>
                    </div>
                </div>
            </form>
          </div>
      </div>
  </div>
</div>

<!-- credits -->
  <div class="row">
    <div class="col-lg-12 col-sm-12"
    style="margin-top: 10px; margin-bottom: 20px; background-color: rgb(206, 203, 203); border-radius: .5rem; height: calc(7vh - 123px);">
      <footer class="app-footer">
        <span class="div-right" style="margin-top: 5px;">
          <span>Powered by</span>
          <strong> App Attackers</strong>
        </span>
      </footer>
    </div>
  </div>
</div>
