<div class="card" style="background-color: #78dae9">
  <div class="card-body">
    <h5 class="card-title">Give your prediction here</h5>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 p-0">
          <div class="jumbotron min-vh-100 text-center m-0 bg-info d-flex flex-column justify-content-center">
            <div id="questionSection" class="carousel slide" data-ride="carousel" data-interval="false"
              data-keyboard="true">

              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div>
                    Who is the highest run taker?
                  </div>
                  <div>
                    Who is the highest run taker?
                  </div>
                </div>
                <div class="carousel-item">
                  who will take maximum wicket?
                </div>
                <div class="carousel-item">
                  Who will be man of the match award winner?
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#questionSection" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#questionSection" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>

              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#questionSection" data-slide-to="0" class="active"></li>
                <li data-target="#questionSection" data-slide-to="1"></li>
                <li data-target="#questionSection" data-slide-to="2"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>