.div-left{
    float:left;
    padding-left:10px;
}
.div-right{
    float:right;
    padding-right:10px;
}
.scrollapply {
    height: calc(88.5vh - 123px);
    /* height: 100%; */
    width: 100%;
    overflow-y: scroll;
  }
  
  table tbody {
    color: rgb(245, 242, 77);
  }