<div class="card leaderboardcontent" style="text-align: left; padding-top: 2%;">
  <div class="card-body">
    <h5 class="card-title">Leaderboard</h5>
    <table class="table table-borderless" style="background-color: #a533b4; border-radius: .5rem;">
      <thead>
        <th>Name</th>
        <th>Match played</th>
        <th>Points</th>
      </thead>
      <tbody>
        <tr>
          <td>Ram</td>
          <td>15</td>
          <td>105</td>
        </tr>
        <tr>
          <td>Peter</td>
          <td>10</td>
          <td>95</td>
        </tr>
        <tr>
          <td>Sebastian</td>
          <td>5</td>
          <td>31</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>