<div *ngIf='(menuType=="completed" || menuType=="fixture" || (menuType=="ongoing" && hours >= 2 && seconds >-1))'class="card text-white bg-dark" style="text-align: center; margin-bottom: 10px">
  <div class="card-body" style="padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;">
    <div [className]="(remainDays < 3 && menuType=='ongoing')?'card-title div-left' : 'card-title'" style="color: rgb(200, 149, 248); font-size: 15px;"><strong>Match# {{matchDetails.matchid}}</strong>
    </div>
    <div class="div-right" *ngIf="(remainDays<3 && menuType=='ongoing')" style="font-size: x-small;">{{remTimer}}</div>
    <div style="color: rgb(241, 135, 43)">
      <hr>
      <div class="teamnames">
          {{matchDetails.fromTeam.name}}  <img class="" src='../../assets/flags/{{matchDetails.fromTeam.code|lowercase}}.png'>
        <span style="font-size: x-small"> Vs </span> <img class="" src='../../assets/flags/{{matchDetails.toTeam.code|lowercase}}.png'>
        {{matchDetails.toTeam.name}}
      </div>
      <hr>
      <div *ngIf='menuType=="completed"' class="labeltitle" style="padding-top: 0px;"><strong>Date :</strong><span class="labeltxt">{{matchDetails.startTime | date: 'dd MMM yyyy'}}</span></div>
      <div *ngIf='menuType=="ongoing" || menuType=="fixture"' class="labeltitle" style="padding-top: 0px;"><strong>Date :</strong> <span class="labeltxt" style="padding-left: 5px;">{{matchDetails.startTime | date: 'dd MMM yyyy'}}</span></div>
      <div *ngIf='menuType=="ongoing" || menuType=="fixture"' class="labeltitle" style="padding-top: 5px;"><strong>Time :</strong> <span class="labeltxt" style="padding-left: 5px;">{{matchDetails.startTime | date: 'hh:mm:ss a'}} IST</span></div>
      
      <div *ngIf='menuType=="fixture"' class="labeltitle">
        <br>
        <strong>Venue :</strong> <span class="labeltxt" style="padding-left: 0px;">{{matchDetails.venue}}</span>
      </div>
      <hr>
      <div *ngIf='menuType=="completed"' class="btn-sm" style=" font-size: small; color: white;">
        <!-- <div *ngIf="remainDays>2">
          <a class="btn btn-success btn-sm" [class.disabled]="remainDays>2 ? true: false"
            (click)="triggerQuestSection()" role="button">{{remTimer}}</a>
        </div> -->
        <div *ngIf="(matchDetails.matchResult)">
            <span class="div-left pt-1"><strong>Your <br>Score :</strong> {{userMatchDetails.points}}</span>
            <span class="div-right pb-2"><a class="btn btn-secondary btn-sm" 
                (click)="gotoMatchDashboard()" role="button">View Winners</a></span>
        </div>
        <div *ngIf="!(matchDetails.matchResult)">
          <span style="text-align: center"><strong>Result Not yet Announced</strong></span>          
        </div>
      </div>
      <div *ngIf='menuType=="ongoing"' class="btn-sm" style=" font-size: small; color: white;">
        <div *ngIf="remainDays>2">
          <a class="btn btn-success btn-sm" [class.disabled]="remainDays>2 ? true: false"
            (click)="triggerQuestSection()" role="button">{{remTimer}}</a>
        </div>
        <div class="d-none d-sm-block" *ngIf="(remainDays<3)">
          <a [className]="message=='inprogress'?'btn btn-danger btn-sm':'btn btn-success btn-sm'"
            [class.disabled]="remainDays>2 || message=='inprogress' ? true: false" (click)="triggerQuestSection()">START PREDICTION</a>
        </div>
        <div class="d-block d-sm-none" *ngIf="(remainDays<3)">
          <a [className]="message=='inprogress'?'btn btn-danger btn-sm':'btn btn-success btn-sm'"
            [class.disabled]="remainDays>2 || message=='inprogress' ? true: false" (click)="triggerQuestSectionInModal()">START PREDICTION</a>

        </div>
      </div>
      <div *ngIf='menuType=="fixture"' class="btn-sm" style=" font-size: small; color: white;">
        <!-- <div *ngIf="remainDays>2">
          <a class="btn btn-success btn-sm" [class.disabled]="remainDays>2 ? true: false"
            (click)="triggerQuestSection()" role="button">{{remTimer}}</a>
        </div> -->
        <div>
          <label><span class="resulttitle"><strong>Result :</strong></span><span class="resultmsg">{{(matchDetails.matchResult=="" || matchDetails.matchResult==null)?'Yet to play...':matchDetails.matchResult}}</span></label>
          <!-- <a class="btn btn-primary btn-sm" [class.disabled]="message=='inprogress'" (click)="triggerMatchDetail()" role="button">Match Details</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
