img{
    width: 10%;
    border-radius: 30%;
}
.modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
}
/* img{
    height: 50%;
    width: 100%;
    object-fit: contain;
    } */
    .div-left{
        float:left;
        padding-left:10px;
    }
    .div-right{
        float:right;
        padding-right:10px;
    }

    .labeltitle{
        font-size: small; 
        color: rgb(188, 155, 219);
    }
    .labeltxt{
        font-size: small; 
        color: rgb(233, 222, 243);
    }
    .teamnames{

    }