<div class="container-fluid"
  style="height: calc(100vh - 123px); border-radius: .5rem; margin-bottom: 0px; background-color: rgb(196, 198, 202);">
  <!-- Nav pills -->
  <ul class="nav nav-pills justify-content-center" role="tablist"
    style="border-radius: .3rem; background-color: rgb(212, 240, 110);">
    <li *ngIf="userType!='admin'" class="nav-item">
      <a class="nav-link px-2" data-toggle="pill" href="#played">RECENT</a>
    </li>
    <li *ngIf="userType!='admin'" class="nav-item">
      <a class="nav-link px-2 active" data-toggle="pill" href="#upcoming">UPCOMING</a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-2" style="padding-right: 0px;" data-toggle="pill" href="#fixture">FIXTURES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-1" href="#" (click)="updateMatchList();"><img src="../../assets/refresh1.png"
          style="padding-left: 5px; padding-top: 0px;border-radius: 70%;"></a>
    </li>
    
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" style="margin-top: 5px; ">
    <div id="played" class="container tab-pane scrollapply">
      <div *ngIf="userMatchArray && userMatchArray.length > 0; else emptyPage"></div>
      <div #matchPage *ngFor="let userMatch of userMatchArray">
        <app-match-details menuType='completed' [userMatchDetails]="userMatch"></app-match-details>

      </div>
    </div>
    <div #upcoming id="upcoming" [class]="userType!='admin'?'container tab-pane active scrollapply':'container tab-pane scrollapply'">
      <div *ngIf="matchToBePlay && matchToBePlay.length > 0; else emptyPage"></div>
      <div #matchPage *ngFor="let match of matchToBePlay">
        <app-match-details menuType='ongoing' [matchDetails]="match"></app-match-details>
      </div>
    </div>
    
  <!-- <input type="text" class="form-control" [(ngModel)]='filterteamName' placeholder="Search Team ex: SA, IND" aria-label=""
    aria-describedby="basic-addon1"> -->
    <div *ngIf="fixture.classList.contains('active')" style="padding-top: 3px; padding-bottom: 3px;">
      <input type="search" style="height: 25px;" [(ngModel)]='filterteamName' placeholder="Search Team" class="form-control" />
    </div>
          
         
    <div #fixture id="fixture" [class]="userType=='admin'?'container tab-pane active scrollapply':'container tab-pane scrollapply'">
      <div *ngIf="overallMatches && overallMatches.length > 0; else emptyPage"></div>
      <div #matchPage *ngFor="let match of overallMatches | filterFixtureByTeam: filterteamName">
        <app-match-details menuType='fixture' [matchDetails]="match"></app-match-details>
      </div>

    </div>
    <!-- <div id="search" class="container tab-pane scrollapply"><br>
        <div *ngIf="matchList && matchList.length > 0; else emptyPage"></div>
        <div #matchPage *ngFor="let match of matchList" >
          <app-match-details [matchDetails]="match"></app-match-details>
          <hr>
        </div>
      </div> -->
    <ng-template #emptyPage>
      No Data Exist...
    </ng-template>
    
    <div style="color: rgb(150, 13, 31); font-size: x-small" *ngIf="upcoming.classList.contains('active')"><br>*You can see only 7 or less upcoming matches..</div>
  </div>
</div>